[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytrends = "*"
scholarly = "*"
yfinance = "*"
numpy = "*"
scipy= "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
tensorflow = "*"
autokeras = "*"
scikit-learn = "*"
yellowbrick = "*"
imbalanced-learn = "*"
xgboost = "*"
missingno = "*"
statsmodels = "*"
TPOT = "*"

[dev-packages]
isort = "*"
flake8 = "*"
mypy = "*"
pytest = "*"
update = "*"
black = "*"
bashplot = "*"
pytest-cov = "*"
codecov = "*"
pycodestyle = "*"
pylama = "*"
pip = "*"
pytest-sugar = "*"
pytest-clarity = "*"
pylint = "*"
pyspelling = "*"
pydocstyle = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
