[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytrends = "*"
scholarly = "*"
yfinance = "*"
numpy = "*"
scipy= "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
tensorflow = "*"
autokeras = "*"
scikit-learn = "*"
tpot = "*"
yellowbrick = "*"
imbalanced-learn = "*"
xgboost = "*"

[dev-packages]
isort = "*"
flake8 = "*"
mypy = "*"
pytest = "*"
update = "*"
black = "*"
bashplot = "*"
pytest-cov = "*"
codecov = "*"
pycodestyle = "*"
pylama = "*"
pip = "*"
pytest-sugar = "*"
pytest-clarity = "*"
pytest-mpl = "*"
pylint = "*"
keras-autodoc = "*"
jupyter = "*"
click-man  = "*"
mkdocs  = "*"
mkdocstrings  = "*"
mkdocs-exclude = "*"
mkdocs-macros-plugin = "*"
mkdocs-material = "*"
mkdocs-minify-plugin = "*"
mkdocs-redirects = "*"
mkdocs-git-revision-date-plugin = "*"
pymdown-extensions = "*"
mkdocs-git-revision-date-localized-plugin = "*"
pyspelling = "*"
pydocstyle = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
